<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>app10-WebSecurity</display-name>
 <servlet>
 
 <servlet-name>TestServlet</servlet-name>
 <servlet-class>com.durgasoft.servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>TestServlet</servlet-name>
  <url-pattern>/</url-pattern>
   
  </servlet-mapping>
  
  <security-constraint>
  <web-resource-collection>
  <web-resource-name>checkedServlet</web-resource-name>
    <url-pattern>/test</url-pattern>
    <http-method>GET</http-method>
  
  </web-resource-collection>
  
  <auth-constraint>
  <role-name>durgarole</role-name>
  </auth-constraint>
      </security-constraint>
         
      
      
      <login-config>
      <auth-method>BASIC</auth-method>
      </login-config>
      
      <security-role>
      <role-name>durgarole</role-name>
      </security-role>
</web-app>